<div class="card" [style]="{ backgroundImage: 'url(' + person?.img + ')' }">

  <p class="card__dialog" id="{{key}}-dialog">
    Thank you for voting!
  </p>

  <p class="card__name">{{ person.name }}</p>
  <span class="card__job">{{ person.timeJob }} month ago in {{ person.job }}</span>
  <span class="card__body">
    Vestibulum diam ante, porttitor a odio eget, rhoncus nerque. Aenean euvelit libero.
  </span>
  <div class="card__vote">
    <button class="card__vote-btn like" id="{{ key }}-like" (click)="clickVote(1)" *ngIf="!isVote">
      <span class="material-icons">
        thumb_up
      </span>
    </button>
    <button class="card__vote-btn dislike" id="{{ key }}-dislike" (click)="clickVote(2)" *ngIf="!isVote">
      <span class="material-icons">
        thumb_down
      </span>
    </button>
    <span class="card__vote-now dismiss" id="{{ key }}-vote" (click)="goToVote()" *ngIf="!isVote">Vote now</span>
    <span class="card__vote-now" (click)="isVote = false" *ngIf="isVote">Vote again</span>
  </div>
  <div class="card__vote-status like" *ngIf="like >= 50">
    <span class="material-icons">
      thumb_up
    </span>
  </div>
  <div class="card__vote-status dislike" *ngIf="like < 50">
    <span class="material-icons">
      thumb_down
    </span>
  </div>
  <div class="card__vote-progress">
    <div class="card__vote-progress-item like" [style]="{ width: like + '%' }">
      <span class="material-icons icon">
        thumb_up
      </span>
      <span>{{ like | number: '1.2-2' }}%</span>
    </div>
    <div class="card__vote-progress-item dislike" [style]="{ width: 100 - like + '%' }">
      <span class="material-icons icon">
        thumb_down
      </span>
      <span>{{ 100 - like | number: '1.2-2' }}%</span>
    </div>
  </div>
</div>
