<div style="position: relative;">
  <nav class="nav">
    <span class="nav__title">Rule of Thumb.</span>
    <a href="/past-trials" class="nav__link">Past Trials</a>
    <a href="/how-it-work" class="nav__link">How it Works</a>
    <span class="nav__link">Log In / Sign Up</span>
    <span class="material-icons">
      search
    </span>
  </nav>
  <div class="header"></div>
  <div class="header__mask"></div>
  <div class="dialog">
    <p class="dialog__label">What's your opinion on</p>
    <h1 class="dialog__title">Pope Francis?</h1>
    <p class="dialog__body">
      He's talking tough on clergy sexual abuse, but is he just another papal
      pervert protector? (thumbs down) or a true pedophile punishing pontiff?
      (thumbs up)
    </p>
    <div>
      <img src="assets/img/logo-w.svg" alt="" class="dialog__logo" />
      <a
        href="https://en.wikipedia.org/wiki/Pope_Francis"
        target="_blank"
        class="dialog__link"
      >
        More information
      </a>
    </div>
    <p class="dialog__subtitle">What's Your Verdict?</p>
  </div>
  <div class="action">
    <div class="action__like">
      <span class="material-icons">
        thumb_up
      </span>
    </div>
    <div class="action__dislike">
      <span class="material-icons">
        thumb_down
      </span>
    </div>
  </div>
  <div class="header__legend">
    <div class="header__legend-left">
      <span class="text">CLOSING IN</span>
    </div>
    <div class="header__legend-right">
      <span class="text">22 <span style="font-weight: 100;">days</span></span>
    </div>
  </div>
</div>

<div class="container">
  <div class="notification">
    <div class="center">
      Speak out, Be heard.
      <span class="notification__text-big">Be counted</span>
    </div>
    <span class="notification__text-small">
      Rule of Thumbs is a crowd sourced court of public opinion where anyone and
      everyone can speak out and speak freely. It's easy: You share your
      opinion, we analyze and put the data in a public report.
    </span>
    <span class="material-icons">
      close
    </span>
  </div>

  <h2 class="subtitle">Votes</h2>

  <div class="cards">
    <app-card *ngFor="let item of persons; let i = index" [person]="item" [key]="i"></app-card>
  </div>
</div>
